@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body{
	margin: 0px;
	padding:0px;
	font-family: "Poppins", sans-serif;
  background-color: #F7F7FF;
}

.menu{
	width: 260px;
	height: 100%;
	background: transparent linear-gradient(190deg, #501769 0%, #382780 100%) 0% 0% no-repeat padding-box;
	top:0px;
	left:-260px;
	position: absolute;
}
.menu .header {
    padding: 2em 0.5em;
    text-align: center;
  }
  .menu .header .alex {
    width: 100px;
    overflow: hidden;
    color: #FFFFFF;
  }

  .menu .header h2 {
    font-weight: normal;
    font-size: 14px;
    margin: 0;
    margin-bottom: 0;
    color: #FFFFFF;
  }

  .menu .header p {
    font-size: 12px;
    font-weight: lighter;
    margin-top: 0px;
    color: #FFFFFF;
    opacity: 0.5;
  }
  
  .menu ul.sidebar-menu {
    margin: 0;
    padding: 0;
    max-width: 400px;
    list-style: none;
    list-style-type: none;
  }

  .menu .sidebar-menu li a {
    padding: 18px 18px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
  }

  .menu .sidebar-menu li a span {
    margin-right: 47px;
    color: #fff;
  }
  .menu .sidebar-menu li a:hover {
    background-color: #FFFFFF 0% 0% no-repeat padding-box;;
    display: block;
    text-decoration: none;
    color: #fff;
  }

  .menu li.have-children ul {
    list-style-type: disc;
    padding-left: 87px;
    color: #FFFFFF;
  }

  .menu li.have-children span img {
    top: 17px;
    left: 24px;
    position: absolute;
  }
  .menu li.have-children ul li a {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
  .menu li.have-children ul li a:hover {
    color: #fff;
    padding-left: 50px;
  }
  .menu li.have-children,
  .menu li {
    position: relative;
  }
  .menu .have-children span::after {
    position: absolute;
    right: 30px;
    top: 24px;
    content: url(/images/Path\ 218.png);
    color: #fff;
    transition: all 0.5s;
  }
  .menu li.active.have-children span::after {
    transform: rotate(90deg);
  }
  .menu .sidebar-menu .have-children > ul {
    display: none;
  }

// .fries-menu{ (pehle vala perfect)
// 	margin: 15px;
// 	padding:20px;
// 	right: -90px;
// 	position: absolute;
// }

.fries-menu {
  margin: -30px;
  padding: 23px;
  left: 64px;
  position: absolute;
}

.top-nav {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 10px 17px 50px rgb(171 163 214 / 15%);
  opacity: 1;
  width: 1366px;
  margin-top: 0px;
  padding-top: 60px;
  left: 260px;
  position: absolute;
}
.logo {
  margin-left: 100px;
  margin-top: -30px;
}

.rest-of-the-body{
  background-color: #2a2a6e;
}